* {
  margin:  0;
  padding: 0;
}

body {
  font-family: "Arial", "sans-serif";
  font-size: 16pt;
  font-style: normal;
  color: black;
}

label {
  font-weight: bold;
}

footer {
  padding: 10px;
  background: darkblue
}

footer > div {
  background: darkblue;
}

#resize {
  color: white;
  padding: 2px;
  background: darkblue;
}
