// Vars
$mc1: #6090a0;
$mc2: #f1d2c7;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin:  0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
}

body {
  font-family: "Open Sans", "sans-serif";
  font-size: 14pt;
}

header, footer {
  padding: 10px;
  background: $mc1;
  color: white;
}

main {
  padding: 10px;
  background: $mc2;

  #inside-interface {
    background: white;
    padding: 7px;
    border-radius: 7px;
  }

  #task-list {
    height: 50vh;
  }
}

// Blue button
.blue-button {
  background: #0000bb;
  width: 175px;
  padding: 7px;
  margin:  3px;
  border-radius: 5px;
  text-align: center;
} .blue-button:hover {
  color: black;
  background: #8888ff;
  transition-duration: 0.2s;
} .blue-button:active {
  background: white;
  transition-duration: 0.1s;
}

#empty {
  padding-left: 10px;
  padding: 4px;
}

.appended-Task {
  background: white;
  padding: 4px;
  padding-left: 10px;
  list-style: circle inside;
}
