<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ style_path }}">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="{{ script_path }}" async></script>
    <title>{{ page_title }}</title>
  </head>
  <body>
    <div class="centering" id="login">
      <div id="title">
        <h1>Login page</h1>
      </div>
      <form name="getinfo" action="#" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Username" id="username" min="3">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password" id="password" min="3">
        <br>
        <input type="submit" title="Send" value="Send" align="left">
      </form>
    </div>
  </body>
</html>
