$color1:   #12a103;
$color2:   #880a04;
$bg_color: #333333;

%autodiv {
  padding: 7px;
}

body {
  background: $bg_color;
  color: white;
}

div {
  @extend %autodiv;

  ol {
    font-family: "Arial", "open-sans";
  }
  ul {
    font-family: "Dosis", "Nunito";
  }
}

#d1 {
  background: $color1;
}

#d2 {
  background: $color2;
}
