<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ stylePath }}">
  </head>
  <body>
    <header>
      <h1>Colégio Alfa</h1>
    </header>
    <main>
      {{ pageInfo }}
    </main>
    <footer>
      <sub>Educação fora da caixa</sub>
    </footer>
  </body>
</html>
