<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
  </head>
  <body>
    <header>
      <h1>Tasks</h1>
    </header>
    <main>
      <ul>
      {{ task_list }}
      </ul>
    </main>
    <footer>
      <sub>Created by Samuel de Oliveira.</sub>
    </footer>
  </body>
</html>
