<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ stylePath }}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="{{ scriptPath }}" async></script>
  </head>
  <body>
    <h1>{{ title }}</h1>
  </body>
</html>
