<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ stylePath }}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="{{ scriptPath }}" async></script>
  </head>
  <body>
    <header>
      <h1>Ceci n'est pas un template</h1>
    </header>
    <main id="Vue-app">
      {{ mainPage }}
    </main>
    <footer>
      <sub>Samuel de Oliveira &copy; - rights reserved</sub>
    </footer>
  </body>
</html>
