<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page not found!</title>
    <link rel="stylesheet" href="{{ stylePath }}">
  </head>
  <body>
    <h1>Ouch, perhaps you did it wrong!</h1>
    <p>The path <b>{{ pagePath }}</b> dos not exists...</p>
  </body>
</html>
