<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ userName }}'s Homepage</title>

    {{! Scripts }}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="{{ scriptPath }}"></script>
  </head>
  <body>
    <div>Hello from {{ userName }}!</div>
  </body>
</html>
