@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  margin:  0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "sans-serif";
  font-size: 16pt;
}

// tag <a>
a:link {
  color: red;
  text-decoration: none;
} a:visited {
  color: lightblue;
  text-decoration: none;
} a:hover {
  text-decoration: underline;
  transition-duration: 0.2s;
} a:active {
  text-decoration: none;
  background: blue;
  transition-duration: 0.2s; 
}

ul {
  list-style-position: inside;
  list-style-image: url(img/star.png);
  padding-left: 3px;
  list-style-type: lower-greek;
}

// Mobile div
#mobile {
  display: none;
  width:  400px;
  margin:  20px;

  padding-top:    30px;
  padding-bottom: 30px;
  border-radius:  10px;
  border: solid 5px black;

  text-align: center;
  background: #3334cf;
  color:      white;
}
@media screen and (max-width: 700px) {
  #mobile {
    display: block;
  }
}
