button {
   width: 200px;
   height: 40px;
   font-size: 23px;
   background: darkgreen;
   color: white;
   border-radius: 10px;
}

button:hover { 
   background:    lightgreen;
   color:              black;
   border-radius:       15px;
   transition-duration: 0.5s;
}
