* {
  margin:  1px;
  padding: 1px;
  font-family: sans-serif;
}

body {
  background: black;
  color: white;
}

#title {
  transition-duration: 0.2s;
  font-size: 18pt;
  cursor: pointer;
}

.vanish {
  transition-duration: 0.2s;
  color: black;
}

.unvanish {
  transition-duration: 0.2s;
  color: white;
}
