// Blue tones
$blue_t0: #b0dcff;
$blue_t1: #00a2ff;
$blue_t2: #008cde;
$blue_t3: #0077be;
$blue_t4: #00639e;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
 scroll-behavior: smooth;
}

body {
  background: $blue_t0;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-size: 19pt;

  margin-top: 10px;
}

ul {
  list-style-type: none;
}

section {
  margin: 20px;
  margin-top: 5px; 
}

#food {
  display: grid;
  grid-template-columns: auto auto auto auto;

  div {
    background: $blue_t3;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;

    sub {
      text-align: center;
      align-items: center;
    }
  } div:hover {
    background: $blue_t4;
    border-radius: 15px;
    transition-duration: 0.3s;
  }
}

header {
  padding-top: 0;
  
  nav {
    background: $blue_t4;
    padding: 10px;
    font-family: "Quicksand", sans-serif;

    ul {
      display: flex;

      li {
        a {
          color: white;
          background: $blue_t4;
          padding: 10px;
          text-decoration: none;
        } a:hover {
          color: black;
          background: $blue_t1;
          transition-duration: 0.3s;
        }
      }
    }
  }
}

footer {
  background: $blue_t4;
  color: white;
  padding: 15px;

  ul {
    display: flex;
    li {
      padding-bottom: 5px;
      padding-left: 16px;
    }
  }

  a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  } a:hover {
    background: $blue_t1;
    transition-duration: 0.5s;
  }

  h2 {text-align: left;}
}

h1, h2, h3 {font-family: "Quicksand", sans-serif;}
h1 {
    font-size: 35pt;
    padding-left: 22px;
}
h2 {
  font-size: 28pt;
  text-align: center;
}
h3 {
  font-size: 22pt;
  text-align: center;
}

@media (max-width: 700px) {
  #food {
    display: grid;
    grid-template-columns: auto auto;
  }

  header {
    nav {
      font-size: 14px;
    }
  }

  p {
    font-size: 19px;
  }
}
