@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$link_color:  #abdbdb;
$link_hover:  #a5dbdb;
$block_color: #059797;
$light_color: #bffdfd;

* {
   margin:  0;
   padding: 0;
   list-style-type: none;
}

body {
  font-family: "Montserrat";
  font-size: 20pt;
  background: $light_color;
}

a {
  color: $link_color;
  text-decoration: none;
}
a:hover {
  color: $link_hover;
  text-decoration: underline;
  transition-duration: 0.2s;
}

header {
  margin-bottom: 5px;

  p {
    font-weight: medium;
    text-align: justify;
    margin:  5px;
    padding: 14px;
    color: white;
    background: $block_color;
    border-radius: 5px;
  }
}
main {
  padding: 20px;
  font-size: 15pt;
  ul {
    margin-left: 10px;
    display: flex;
    li {
      padding: 10px;
      margin: 7px;
      background: $block_color;
      color: white;
      border-radius: 3px;
      a {
        color: white;
      }
    } li:hover {
      background: black;
      border-radius: 6px;
      transition-duration: 0.3s;
    } li:active {
      background: white;
      color: black;
      transition-duration: 0.2s;
      a {
        color: black;
      }
    }
}
  
}
footer {
  padding: 10px;
  color: white;
  background: $block_color;

  ul {
    display: flex;
    padding: 5px;
    li {
      padding-left: 10px;
    } li:hover {
      font-size: 22pt;
    }
  }
}

h1 {
  font-family: "nunito";
  text-align: center;
  font-size: 35pt;
}

h2 {
  font-family: "nunito";
  font-size: 26pt;
}
